.box {
    height: 200px;
    width: 200px;
    overflow: auto;
    background-color: aqua;
    ;
}

// .productsGridImg {
//     width: 100%;
//     height: auto;
//     border-color: black;
//     border-style: solid;
//     border-radius: 10px;
//     img {
//         height: auto;
//     }
// }
.productsGrid {
    width: 96%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    div {
        img {
            width: 100%;
            height: auto;
            border-color: darkgray;
            border-style: solid;
            border-radius: 10px;
        }
        h2,
        p {
            margin: 0;
        }
    }
}

// @media screen and (max-width: 40em) and ( max-width: 50em) {
//     .productsGrid {
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//     }
// }
@media screen and (min-width: 40em) {
    .productsGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    h2,
    p {
        font-size: smaller !important;
    }
}

@media screen and (min-width: 50em) {
    .productsGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        h2,
        p {
            font-size: medium !important;
        }
    }
}

@media screen and (min-width: 100em) {
    .productsGrid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    h2,
    p {
        font-size: large !important;
    }
}

.message-Error {
    background-color: red;
    color: white;
    opacity: 0;
    transition: all linear .5s;
    &.invalid {
        opacity: 1;
    }
}

.line-error {
    height: 10;
    border-bottom: 10px solid;
    &.invalid {
        border-color: red;
    }
    &.valid {
        border-color: green;
    }
    ;
}

.twoColumns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
